* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  background-color: #ecf2f8;
}

main #container_main {
  width: 735px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  main #container_main {
    width: 330px;
    height: 510px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main #container_main #image_container {
  width: 285px;
}

@media screen and (max-width: 375px) {
  main #container_main #image_container {
    width: 330px;
    height: 200px;
    overflow: hidden;
  }
}

main #container_main #image_container img {
  height: 280px;
}

@media screen and (max-width: 375px) {
  main #container_main #image_container img {
    width: 330px;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

main #container_main #container_content {
  width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content {
    width: 330px;
    height: 310px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main #container_main #container_content #content {
  width: 365px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content #content {
    width: 265px;
    height: 250px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

main #container_main #container_content #content #heading {
  height: 75px;
  font-weight: 700;
  font-size: 10px;
  color: #48556a;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content #content #heading {
    font-size: 8px;
    line-height: 3.2em;
    height: 65px;
    width: 265px;
    font-weight: 500;
  }
}

main #container_main #container_content #content #description {
  height: 55px;
  font-weight: 500;
  line-height: 1.5em;
  color: #6d7f97;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content #content #description {
    line-height: 1.6em;
    width: 265px;
    height: 90px;
    letter-spacing: 0.015em;
  }
}

main #container_main #container_content #content #profile {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content #content #profile {
    height: 40px;
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
}

main #container_main #container_content #content #profile #image_profile {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

main #container_main #container_content #content #profile #share_container {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-color: #9eafc2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #container_main #container_content #content #profile #share_container #share_modal {
  display: none;
  position: fixed;
  z-index: 1;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  width: 250px;
  height: 55px;
  border-radius: 10px;
  background-color: #48556a;
  -webkit-box-shadow: 0px 10px 15px #ecf2f8;
          box-shadow: 0px 10px 15px #ecf2f8;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content #content #profile #share_container #share_modal {
    width: 330px;
    height: 65px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transform: translateX(-108px);
            transform: translateX(-108px);
  }
}

main #container_main #container_content #content #profile #share_container #share_modal #modal_content {
  width: 250px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content #content #profile #share_container #share_modal #modal_content {
    height: 65px;
    width: 330px;
  }
}

main #container_main #container_content #content #profile #share_container #share_modal #modal_content p {
  color: #9eafc2;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding-left: 25px;
}

main #container_main #container_content #content #profile #share_container #share_modal #modal_content div {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #container_main #container_content #content #profile #share_container #share_modal #modal_content #hide_button {
  display: none;
  width: 25px;
  height: 25px;
  border-radius: 30px;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content #content #profile #share_container #share_modal #modal_content #hide_button {
    display: block;
  }
}

main #container_main #container_content #content #profile #share_container #share_modal #triangle {
  color: white;
  width: 0px;
  height: 0px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  border: 15px solid black;
  border-top-color: #48556a;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content #content #profile #share_container #share_modal #triangle {
    display: none;
  }
}

main #container_main #container_content #content #profile #share_container button {
  width: 15px;
  height: 15px;
  background-image: url(images/icon-share.svg);
  border-radius: 50%;
  border: none;
  background-color: #9eafc2;
  background-repeat: no-repeat;
  background-position: center;
}

main #container_main #container_content #content #profile #share_container button:hover {
  cursor: pointer;
}

main #container_main #container_content #content #profile #profile_details {
  padding-left: 12px;
  padding-right: 155px;
}

@media screen and (max-width: 375px) {
  main #container_main #container_content #content #profile #profile_details {
    padding-right: 60px;
  }
}

main #container_main #container_content #content #profile #name {
  font-weight: 700;
  color: #48556a;
}

main #container_main #container_content #content #profile #date {
  font-weight: 500;
  color: #9eafc2;
}
/*# sourceMappingURL=styles.css.map */