// Style guide variables

// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Typography
$font-size-body: 13px;
$family: "Manrope", sans-serif;
$weight-light: 500;
$weight-heavy: 700;

// Colours
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-body;
  font-family: $family;
  background-color: $light-grayish-blue;

  #container_main {
    width: 735px;
    height: 280px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;

    #image_container {
      width: 285px;

      img {
        height: 280px;
      }
    }

    #container_content {
      width: 445px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;

      #content {
        width: 365px;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #heading {
          height: 75px;
          font-weight: $weight-heavy;
          font-size: 10px;
          color: $very-dark-grayish-blue;
        }

        #description {
          height: 55px;
          font-weight: $weight-light;
          line-height: 1.5em;
          color: $desaturated-dark-blue;
        }

        #profile {
          height: 45px;
          display: flex;
          align-items: center;

          #image_profile {
            width: 40px;
            height: 40px;
            border-radius: 20px;
          }

          #share_container {
            width: 30px;
            height: 30px;
            border-radius: 40px;
            background-color: $light-grayish-blue;
            display: flex;
            justify-content: center;
            align-items: center;

            #share_modal {
              // display: none; // Hidden by default
              position: fixed; // Stay in place
              z-index: 1; // Sit on top
              left: 0;
              top: 0;
              width: 250px;
              height: 55px;
              border-radius: 10px;
              background-color: $very-dark-grayish-blue;

              #modal_content {
                width: 250px;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                  color: $grayish-blue;
                  text-transform: uppercase;
                  padding-right: 20px;
                }

                div {
                  width: 110px;
                  display: flex;
                  justify-content: space-evenly;
                }
              }

              #triangle {
                color: white;
                width: 0px;
                height: 0px;
                left: 50%;
                transform: translate(-50%);
                position: absolute;
                border: 15px solid black;
                border-top-color: $very-dark-grayish-blue;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: transparent;
              }
            }

            #image_share {
              width: 15px;
              height: 15px;
              // border-radius: 40px;
              // background-color: $light-grayish-blue;
            }
          }

          #profile_details {
            padding-left: 12px;
            padding-right: 155px;
          }

          #name {
            font-weight: $weight-heavy;
            color: $very-dark-grayish-blue;
          }

          #date {
            font-weight: $weight-light;
            color: $grayish-blue;
          }
        }
      }
    }
  }
}
